.gallery {
  padding: 20px;
  padding-left: 0;
}

.gallery ul{
  display: flex;
  flex-direction: row;
}

.gallery ul li {
  margin-left: 25px;
}
.gallery ul li:first-child {
  margin-left: 0;
}

.gallery ul li a img {
  border: solid 6px #0c0c0c;
  border-radius: 0 55px 10px 55px;
}